body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main-color {
  color: hsl(348, 100%, 61%);
}

a {
  color: hsl(348, 100%, 61%);
}

a:hover {
  color: hsla(348, 100%, 61%, 0.699);
}

.full-height {
  height: 100vh;
  width: 100vw;
}

.round-border {
  border-radius: 0px 0px 8px 8px !important;
}

.all-rounded {
  border-radius: 8px !important;
}

.main-content {
  overflow-x: scroll;
  max-width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: hsl(348, 100%, 61%) hsl(0, 0%, 86%);
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
/* Flip the whole  */
.flipped {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
/* Whole scrollbar container */
.main-content::-webkit-scrollbar {
  height: 7px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 86%);
}
/* Where the scrollbar moves on */
.main-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: hsl(0, 0%, 86%);
}
/* Draggable element */
.main-content::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: hsl(348, 100%, 61%);
}

/* Scrollbar on dark theme */

.main-content-dark {
  overflow-x: scroll;
  max-width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: hsl(348, 100%, 61%) hsl(0, 0%, 4%); /* scroll thumb & track */
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
/* Whole scrollbar container */
.main-content-dark::-webkit-scrollbar {
  height: 7px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 4%);
}
/* Where the scrollbar moves on */
.main-content-dark::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: hsl(0, 0%, 4%);
}
/* Draggable element */
.main-content-dark::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: hsl(348, 100%, 61%);
}

/* Recipe's card */
.recipe {
  max-height: 600px;
  cursor: grab;
}

.draggable:hover {
  opacity: 0.7;
}

.draggable.dragged {
  opacity: 1;
  transform: scale(1.5);
}

/* FAB */
.floating {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.modal-card-head,
.modal-card-foot {
  border: none;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
